.ipynb_checkpoints
/onto_vae/__pycache__
/dist
/splits
/data
.idea/
vignette.ipynb
OntoVae_image.sif
job_ids.txt
splits_SEAAD/
splits_TCGA/
__pycache__/
SEADD_job.sbatch
TCGA_job.sbatch
splits_TCGA_cluster.zip
splits_TCGA_cluster/
SEADD_copy_results.sbatch